nav {
    background: #ffffff;
    position: absolute;
    border-bottom: 4px solid #ccf7bd;
}

.fa-google {
    font-size: 36px;
}

.navbar-brand {
    color: #6b80c2;
    font-size: 30px;
}

.navbar-brand:hover {
    color: #485da0;
}

.nav-link {
    color: #4769d7;
}

.nav-link:hover {
    color: #2e4ab8;
}
